style
#firs{ 
    color: blue;
}
        h1{ 
            color: blue;
        }
        #uno{
            color: crimson;
        }
        #uno_info{
            color: darkgreen;
        }
        #dos{
            color: crimson;
        }
        #dos_info{
            color: darkgreen;
        }
        #tres{
            color: crimson;
        }
        #tres_info{
            color: darkgreen;
        }
        #cuatro{
            color: crimson;
        }
        
        #cinco{
            color: crimson;
        }
        #cinco_info{
            color: darkgreen;
        }
        #seis{
            color: crimson;    
        }
        #seis_info{
            color: darkgreen;
        }